@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#1a1a1a];
  }
  body {
    font-family: 'SF Mono', 'Fira Code', 'Consolas', monospace;
    background: #000;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
  }
}
